
.checkout-item-container {
    width: 100%;
    display: flex;
    height: 100%;
    margin-bottom: 15px;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px;

    .arrow {
        font-weight: bold;
        &:hover {
            cursor: pointer;
        }
    }

    .remove {
        &:hover {
            cursor: pointer;
        }
    }
    
    img {
        width: 20%;
      }

    

}